
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #000;
  color: #0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  background-color: #000;
  padding: 1px 1px; 
}

.navbar {
  margin-bottom: 20px; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 100; 
}


.cool-font {
  font-family: 'Orbitron', sans-serif; 
  font-size: 36px; 
  color: white; 
}

.green-letter {
  animation: flickerAnimation 1s infinite alternate; 
}

@keyframes flickerAnimation {
  0% {
    color: rgb(0, 0, 0); 
  }
  50% {
    color: #00FF00; 
  }
  100% {
    color: rgb(0, 0, 0); 
  }
}


.logo{
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

button {
  width: 750px;
  height: 50px;
  padding: 10px;
  border: 2px solid rgb(102, 102, 102);
  border-radius: 1px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(102, 102, 102);
  color: #0f0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
  color: #0f0;
}

.popup-text {
  font-family: monospace;
  font-size: 18px;
  margin-bottom: 20px;
}

.popup-text span {
  color: #f00; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.footer p {
  margin: 100px 0 0 0; 
  color: #0f0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons img {
  width: 30px; 
  margin: 0 10px;
  cursor: pointer;
}

.social-icons img:hover {
  opacity: 0.7;
}
